/* Global styles - minimal reset and utilities */

/* Basic reset - minimal */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
}
